/*
.DS_Store
!./tracknaliser/docs/
!./tracknaliser/docs/build/
!./tracknaliser/docs/source/
!.gitignore
!/tracknaliser
!/benchmark/
!/tracknaliser/tests/
!.github/
!.github/workflows/
!.github/workflows/tracknaliser_CI.yml
!*.py
!*.md
!*.png
!*.txt
!*.pdf
!*.json
!*.bat
!*.html
!*.rst
